/* Media for 980px to 1023px */
/* 980px <= width < 1023px */
@media only screen and (min-width: 1024px) and (max-width: 1150px) {
.header, .nav-inner, .main,.col-main, .footer,.inner_footer_bottom{ width:1000px;  }

.col-main { float:left; width:100%;}
.col-left { float:left; width:200px;}
.col-right { float:right; width:200px; margin-left:0;}
.col2-left-layout .col-main,.col2-right-layout .col-main{width:785px;}
.col3-layout .col-main { width:580px; margin-left:10px; }
.col3-layout .col-wrapper { float:left; width:790px; }
.block-banner img,.sub_banner img{width:100%;}
#footer .footer-area{margin-right:26px;}
.block-subscribe input.input-text{width:93%;}
.header_inner{width:980px;}
.fullwidthbanner-container{width:100% !Important;}
.category-image img,.shopping_CMS_main1 img,.cart .totals{width:100%;}
.products-list li .list-center{padding-right:0px;width: 374px;}
.col3-layout .product-view .product-shop{width:268px;}
.product-view .tabs a{padding:12px 10px;}
.cart .cart-collaterals .col2-set{width:483px;}
.product-view .product-shop{width:468px;}
.cart .discount input.input-text{width:200px;}
button.btn-checkout span{padding:0px 25px;}
}
@media only screen and (min-width: 980px) and (max-width: 1023px) {

.header, .nav-inner, .main,.col-main, .footer,.inner_footer_bottom{ width:940px;  }
.header_inner{width:920px;}
.col-main { float:left; width:750px;}
.col-left { float:left; width:180px;}
.col-right { float:right; width:180px; margin-left:0;}
 
.col3-layout .col-main { width:560px; margin-left:10px; }
.col3-layout .col-wrapper { float:left; width:750px; }
.product-view .product-shop{ width:432px; }
.col1-layout .product-view .product-shop{ width:623px; }
.block-banner img{ max-width:100%; }
#footer .mobile_togglemenu{ display:none;  }
#footer .footer-area{ width:172px; }
.col1-layout .product-view .product-shop{ width:620px; }
.cart .cart-collaterals .col1-set , .cart .cart-collaterals .col2-set , .cart .totals{ width:100%; }
.fullwidthbanner-container{width:100% !Important;}
.block-banner img,.sub_banner img,.category-image img{width:100%;}
.block-subscribe input.input-text{width:93%;}
.products-list li .list-center{width:359px;padding-right:0px;}
.col3-layout .product-view .product-shop{width:100%;margin-top:20px;}
.product-view .tabs a{padding:12px 10px;}
}

@media only screen and (max-width: 979px){

.header, .nav-inner, .main, .footer,.inner_footer_bottom{ width:724px;  }
.header_inner{width:704px;z-index:9;}
.footer{ padding:0; }
.col-main , .col3-layout .col-wrapper{ width:549px;}
.col3-layout .col-main{ width:374px; }  
.col-left,.col-right { width:160px;}
 
 #advancedmenu{ display:none; }
.advanced_nav{ display:block; }
#zoom-btn , .mousetrap {display:none !important; }
#zoom1 {cursor:default !important; }
 
.header .quick-access{ width:440px; }
.footer .mobile_togglemenu{ display:block; }
#footer ul{ display:none; margin-bottom:10px; }
#footer .footer-area{ width:100%; margin-right:0; }
.products-list li .list-center{ width: 255px;}
.product-view .product-shop{   width: 100%; }
.cart .cart-collaterals .col2-set, .cart .totals{ width:100%; }
.checkout-progress{ padding: 0 10px; }
.form-list li.wide select , .form-list li.wide .input-box {width: 400px;}
.gift-messages-form .item .details .form-list li.wide .input-box , .form-list li.wide input.input-text{ width:100%; }
.col1-layout .product-view .product-shop{ width: 405px;}
.padder h6 { display:block; padding:3px 8px;line-height: 25px; }
.product-view .tabs{ display:none !important; }
.contacform{ width:100%; margin-bottom:10px; padding:0; margin-right:0; border:none; }
.googlemap{ width:100%;margin-bottom:10px;  }
.block-banner img , .category-image img{ max-width:100%;}
.toolbar .pager .pager_right{ float:left; margin-top:8px; clear:both; }
.footer_bottom ul.links{display:block;text-align:center; float:none; margin-bottom:5px; }
.footer address{ float:none;text-align:center; clear:both; }
.product-collateral .padder{ padding-left:0; padding-right:0; }
.padder ol{ display:none; margin-bottom: 15px;}
.padder > div{ display:block !important;  }
.padder > div#product_tabs_cms_contents{display:none !important;}
#footer .block-subscribe input.input-text{ width:98%; }
.block-subscribe .block-title strong {    display: inline;}
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box{ width:90%; }
.header-container > .header{background:transparent;}
.header_top{height:31px;}
.header-cart{margin-top:0px;right:52px;}
.responsive-menu li a{padding-left:8px;}
.fullwidthbanner-container{width:100% !IMportant;}
.sub_banner img,#footer #block_1{width:100%;}
.footer_bottom address{float:none;text-align:center;}
#block_1 ul{float:left;}
.send-friend .form-list,.send-friend .form-list li.wide .input-box{width:100%;}
.send-friend .form-list li.wide textarea{width:90%;}
.block-subscribe input.input-text{width:93%;}
.category-image img,.products-list li .list-center,.cart .cart-collaterals .col1-set{width:100%;}
.col3-layout .product-view .product-shop{width:100%;margin-top:20px;}
.product-view .product-shop{width:100%;margin-top:20px;}
#my-orders-table colgroup{width:100%;}
.header .header-cart #panel{top:50px;}
.header-cart .cart-label{border-radius:0px;}

#footer h6, #footer .block .block-title strong {
    border-bottom: 1px dashed #dedace;
    color: #706342;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
    position: relative;
    text-shadow: none;
}
#block_1 h6 {
    padding: 10px 0 10px 40px;
}
.multiple-checkout .data-table {
    display: inline;
    float: left;
    overflow: auto;
    width: 100%;
	margin:0 0 10px ;
}
.multiple-checkout colgroup{width:100%;}
.checkout-cart-index .cart > form { display: inline;float: left;overflow: auto;width: 100%;}
}
 
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {

.header, .nav-inner, .main,  .footer,.inner_footer_bottom { width:auto;  margin:0 15px;  }
.col-left ,.col-right  ,.col-main{ width:100%;}
.col-main{ margin-bottom:10px; }
.col-left .block-content ,.col-right .block-content{ display:none; }
.col3-layout .col-wrapper , .col-main , .col3-layout .col-main{  width:100%;}
.toggle .mobile_togglecolumn {
    display: block;
}
 .block-banner{ display:none; }

.mini-products-list .product-image{float:left;}
/********** Header Setting *************/
.header .logo{  margin: 0 auto;
    text-align: center;
    text-decoration: none !important;
   float:none;}
.header_top{min-height:80px;}
.header .quick-access{ margin:0 0 10px 0; }
.header .quick-access {  width:100%; padding-left:0; padding-right:0;text-align:center; }
.header .form-search{display:inline-block;float:none;margin:0;}
.quick-access > form {display: inline-block;float: none;margin:30px 0 0;}
.header .welcome-msg{ float:none; width:100%; text-align:center; }
.header .links{ display:none; float:none; text-align:left; position:absolute; background:#fff;border:1px solid #F4F1E7;border-radius:0 0 5px 5px; }
.tm_headerlinks_inner{ display:block; cursor:pointer; padding:12px 0;  }
.header .links { margin:0; top:44px; width:140px; right:0; }
.header .links li{ display:block; float:none; background:none; padding:0px !important }
.header .links li a{ text-decoration:none; padding:3px 5px; display:block;}
.header .links li a:hover{ } 

.header .tm_top_currency , .header .form-language{ float:left; text-align:center; }
.header .tm_top_currency , .header .form-language {
 width:25%; margin:0 1px 0 0px;  position:relative; background:#9D9073; top:10px; padding: 0px;} 
 .form-language .sbHolder, .tm_top_currency .sbHolder{ border:none; padding:0 0 0 0; background:none; float:none; }
 .form-language .sbHolder > a, .tm_top_currency .sbHolder > a{  color:#fff; text-align:center; padding:10px 0; top:0; }
 .form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions{ width:130px; left:0; top:44px !important; text-align:left; 	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;}
.header-cart , .tm_headerlinkmenu {
    float: right;
   margin: 0 -1px 0 0;
    position: absolute;
    right: 0;
    top: 136px;
	 width:25%;
	 background:#9D9073; padding:0;
	  border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
	bottom:auto;

}

.tm_headerlinkmenu{ right:25%;}
.cart_mini_right{ background:none; padding:10px 0 10px; color:#fff; margin:0 0 0 1px;
border:none; float:none; text-align:center; }
.header .header-cart #panel{ top:44px;border-radius:0 0 5px 5px; }
.cart_mini_right .price{ display:none;}

/********** Header Setting *************/
.products-list li .list-center {    margin-top: 15px;    width: 100%;}
.col2-set .col-1 , .col2-set .col-2,.box-account .col2-set .col-1{  width:100%; }
.box-account .col2-set .col-1{ padding-right:0; border:none; margin-bottom:15px;}
.order-info-box .col-1{ margin-bottom:15px; }
.product-view .product-img-box { margin:0 auto 20px; float:none; }
.col3-layout .product-view .product-img-box { margin:0 auto 20px; float:none; }
.product-shop{ width:100% !important;}
.header .form-language label , .header .tm_top_currency label { display:none !important; }
#super-table{ clear:both; }
#new-wishlist-table .add-to-cart-alt button.button span{ width:auto !important;  }
.form-list li.wide textarea{ width:100%; }
.form-list li.fields .name-firstname{ margin-bottom:10px; }
.header_top .tm_top_currency, .header_top .form-language{display:block;}
.header_cms_block{display:none;}
.header-container{margin-bottom:10px;}
.header .form-search button.button{top:6px;}
.form-language .sbToggle,.tm_top_currency .sbToggle{background:url("../../images/res_bullet.png") no-repeat scroll 0 21px transparent;}
.form-language .sbToggleOpen,.tm_top_currency .sbToggleOpen{background:url("../../images/res_bullet.png") no-repeat scroll -24px 21px transparent;}
.header-cart .right_arrow{background:url("../../images/res_bullet.png") no-repeat scroll 0 4px transparent;}
.header-cart .active .right_arrow{background:url("../../images/res_bullet.png") no-repeat scroll -24px 4px transparent;}
.header_top .tm_top_currency{
	border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
}
.header-cart{
	border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	z-index:9;
}
.header-cart .cart-label{background:transparent;border-top:0px;box-shadow:none;}
.header a.logo{padding:10px 0 0;display:block;}
.col3-layout .product-view .product-shop{margin-top:20px;}
.checkout-cart-index .col2-set .col-2,.checkout-cart-index .col2-set .col-1{width:100%;}
.shopping_CMS_main1 img{max-width:100%;}
.featured-products .product-block:hover .product-block-inner.p_img{padding:0;}
.featured-products .product-block .block_info,.featured-products .product-block:hover .block_info{display:block}
.featured-products .product-block:hover .product-block-inner{opacity:1;visibility:visible;}
.product-block:hover .prod_block_info,.product-block .prod_block_info{ opacity:1;visibility:visible;position:relative;}
.products-grid li .product-block:hover .product-block-inner{padding:0;}
.product-block-inner .new-label{ 
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}
colgroup col{display: block;}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.form-list li.wide .input-box{width: 260px;}
.form-list li.wide input.input-text{ width: 250px;}
}
@media only screen and (max-width: 640px){

#shopping-cart-table thead  , #checkout-review-table thead   , #my-orders-table thead , #multiship-addresses-table thead{
    display: none;
}
#shopping-cart-table tbody tr td  , #checkout-review-table tbody tr td  , #my-orders-table tbody tr td , #multiship-addresses-table tbody tr td{
    border-bottom: 1px solid #f4f1e7;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
#shopping-cart-table tbody tr, #shopping-cart-table tbody tr td,
#checkout-review-table tbody tr, #checkout-review-table tbody tr td ,
#my-orders-table tbody tr, #my-orders-table tbody tr td , #multiship-addresses-table tbody tr td {
   /* display: block;*/
    text-align: center !important;
}
#shopping-cart-table  tr td,  #checkout-review-table  tr td, #my-orders-table  tr td , #multiship-addresses-table tr td{ display:block;}

#shopping-cart-table  .btn-remove2 , #multiship-addresses-table .btn-remove2{  margin: 0 auto; }
#shopping-cart-table .item-options dt ,
#checkout-review-table .item-options dt ,#multiship-addresses-table dt,
#my-orders-table .item-options dt {     float: none;}
button#empty_cart_button{float:left; margin:5px 0; clear:both;}
.title-buttons a ,.page-title .separator{float: left;}
.my-account .page-title h1 { width: 100%;}
#my-orders-table col{ width: 100%;}
}
/* Landscape phones and down */
@media only screen and (max-width: 479px) {
.form-list .field , .form-list .input-box ,.form-list li.wide .input-box { width:100% !important; }
.form-list input.input-text , .form-list li.wide textarea, .form-list select , .tm_responsive_row select , 
.product-view .box-tags .form-add input.input-text{width:90% !important; }
.cart_mini_right{ display:none; }
.header-cart .cart-label{ background: url("../../images/cart-respo.png") no-repeat scroll center center;
    height: 20px;
    margin: 0 auto;
        padding: 12px 0;
    text-align: center;
      cursor:pointer; }
.checkout-progress{ padding:0 50px; }
.checkout-progress li{width:100% ;margin:0 0px 5px 0;}
.cart_mini_right .price{ display:none; }
.tm_responsive_row label , .tm_responsive_row span{width:100% ;margin:0 0px 5px 0;  }
.tm_responsive_row span .separator{ display:none;}
.gift-messages-form .item .details{ margin-left:0; margin-top:15px; }
.product-view .product-img-box{ width:271px; }
.product-view .product-img-box .product-image img{ width:100%; }
.email-addto-box .email-friend{ float:none; margin-bottom:8px; }
.googlemap iframe{ width:100%  !important; }
.col3-set .col-1 , .col3-set .col-2 , .col3-set .col-3 { width:100%; margin-bottom:10px; }
.my-wishlist textarea{ width:90%; }
#my-tags-table td , #my-reviews-table td{ display:block; }
.additional-carousel .slider-item .product-block img{ margin:0 auto; text-align:center; display:block;  }
.product-view .product-shop .availability{ float:none; text-align:left; }
#product-review-table .nobr{  white-space: normal !important; }
#product-review-table td , .data-table thead th{  padding: 5px 3px; }
#product-review-table{ margin:10px 0; }
.buttons-set .back-link{ margin-bottom:10px; margin-right:10px; }
.pager .limiter{ margin-bottom:10px; }
.pager .pager_right .sort-by{ float:none;text-align:left }
.products-list li .list-right{ width:100%; }
.checkout-multishipping-overview .multiple-checkout .col-2.col-wide .data-table{float:left;display:inline;overflow:auto;width:100%;}
.tp-caption a{font-size:8px !important;}
.cart-table .btn-update{float:left;margin:10px 0 5px;clear:both;}
.cart .title-buttons .checkout-types{float:left;clear:both;}
.cart .title-buttons .checkout-types li{float:left;margin:0px;}
#add_recipient_button {clear: both;float: left;}
#add_recipient_button button.button{margin:0;}
.my-wishlist .buttons-set button.button { clear: both;float: left;margin: 5px 0;}
}
/* Mobile Landscape Size to Mobile Portrait (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) { }
@media only screen and (max-width: 373px){li.last_item_tm .product-block{margin:5px 0 10px 0px;}}
@media only screen and (max-width: 319px){
.header-cart .right_arrow{ padding:0; background:none; }
.header .form-search input.input-text {width: 145px;}
.cart .discount .input-box { width:100% !important; }
#footer .block-subscribe input.input-text , .form-list textarea , .cart .discount input.input-text{  width:95%;}
.checkout-progress{ padding:0 10px; } 
.opc .step{ padding:15px 15px; } 
.product-view .product-img-box , .product-view .product-img-box .product-image img{ width:100%; } 
.product-view .product-shop .add-to-links li{ display:block;margin-bottom:8px; }
.product-view .product-shop .availability{ float:none; text-align:left; }
.my-wishlist .buttons-set button.button{ margin:5px 0; text-align:left;}
#product-review-table thead{ display:none; }
.form-language .sbHolder, .tm_top_currency .sbHolder{float:none; text-align:center; padding:0; }
.form-language .sbHolder .sbToggle , .tm_top_currency .sbHolder .sbToggle { display:none; }
.header-bottom .logo img{width:200px}
.header-cart, .tm_headerlinkmenu{top:144px;}
button.btn-checkout span{padding:0 15px;}
.multiple-checkout button.button > span,.multiple-checkout .back-link a{padding:5px;}
.multiple-checkout .place-order .grand-total{height:auto;}
.product-review .product-img-box{float:none;}
.product-review .product-details{margin-left:0px;margin-top:10px;}
.header .header-cart #panel{width:190px;}
.header .welcome-msg{height:48px;}
.header-cart .mini-products-list .product-details {width: 67%;}
}
@media only screen and (max-width:240px) {}