#advancedmenu {
    position:relative;        
	margin:0 auto;
 	z-index:9;
}
div.menu {
    float: left;
}
#advancedmenu .menu .parentMenu{background:url("../../images/menu_sep.png") no-repeat scroll left center transparent;}
#advancedmenu .menu .parentMenu.home_link{background:none;}
div.menu.act {
   background:none;
}
div.menu.active {
	background:none;
	color:#5E5E5E ; 
}
div.megnor-advanced-menu-popup { 
  background:#9E9073;
	position:absolute;
	display: none;
	text-align:left; 
	border:0px solid #545F61;
	top:49px;
	border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
}
.megnor-advanced-menu-popup_inner{	 background:#9E9073;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}
div.menu a, div.megnor-advanced-menu-popup a {   display:block; }
div.megnor-advanced-menu-popup a		
{ 
	padding:5px 0px;
	text-transform:none;
	
}
 div.megnor-advanced-menu-popup a:hover{}
div.megnor-advanced-menu-popup a.actParent {
    color: #4D4D4D;
}
div.megnor-advanced-menu-popup a.act {
    color: #A52A2A;
}
div.column {
    float:left;
    width:180px; /* column width */
    padding:5px 15px 10px;
}
div.itemSubMenu {
    /*margin-left:20px;*/
}
.clearBoth {
    clear:both;
}

div.megnor-advanced-menu-popup .block1		{ }
div.megnor-advanced-menu-popup .block2		{ padding:5px;}
#advancedmenu .megnor-advanced-menu-popup .itemMenu  a	{ font-weight:normal;  font-size: 13px;}
#advancedmenu .level1 > a.itemMenuName {
    font-size: 15px;
	font-weight:normal; color:#EDE7D9 ;
	padding-bottom:6px;
	margin-bottom:2px;
	border-bottom:2px solid #938568;
} 
.itemSubMenu .itemMenu 
{
	margin-left:0px;
}
.itemSubMenu .itemMenu a.itemMenuName
{
	 background: url("../../images/menu_bullet.png") no-repeat scroll 6px center transparent;
    color: #EDE7D9; 
    font-weight: normal;
    padding: 2px 0 2px 20px; 

}
.itemSubMenu .itemMenu a:hover	{ background:url("../../images/menu_bullet_hvr.png") no-repeat scroll 6px center #B9AA8B;  color: #fff;}

.custom_menu:hover .customblock_inner {    display: block;} 
.customblock_inner		{ background:#FFF; width:250px; padding:5px;}

 